name = seelva Subtheme
description = Seelva subtheme based on seelva for Drupal
package = Core
version = VERSION
core = 7.x
base theme = seelva

; /*====================================
; =            $STYLESHEETS            =
; ====================================*/

stylesheets[print][]  = css/print.css
stylesheets[screen][] = css/normalize.css
stylesheets[screen][] = css/base.css
stylesheets[screen][] = css/core.css
stylesheets[screen][] = css/nav.css
stylesheets[screen][] = css/helpers.css
stylesheets[screen][] = css/objects.css
stylesheets[screen][] = css/icons.css

stylesheets[screen][] = css/drupal.css

stylesheets[screen][] = css/custom.css

; /*================================
; =            $SCRIPTS            =
; ================================*/

scripts[] = js/custom.scripts.js

; /*================================
; =            $REGIONS            =
; ================================*/

; /*==========  REQUIRED CORE REGIONS  ==========*/

regions[page_top] = Page Top
regions[page_bottom] = Page Bottom
; Content region is defined below, do not delete.

; /*==========      TOPBAR REGIONS     ==========*/

regions[topbar_before] = Topbar Before
regions[topbar]        = Topbar
regions[topbar_after]  = Topbar After

; /*==========      HEADER REGIONS     ==========*/

regions[header_before] = Header Before
regions[header]        = Header
regions[header_after]  = Header After

; /*==========       MENU REGIONS      ==========*/

regions[menu] = Menu

; /*==========      TEASER REGIONS     ==========*/

regions[teaser_before] = Teaser Before
regions[teaser]        = Teaser
regions[teaser_after]  = Teaser After

; /*==========     CONTENT REGIONS     ==========*/

regions[sidebar_first]  = Sidebar First
regions[sidebar_second] = Sidebar Second

regions[content_before] = Content Before
regions[content]        = Main Content
regions[content_after]  = Content After

; /*==========    APPENDIX REGIONS     ==========*/

regions[appendix_before] = Appendix Before
regions[appendix]        = Appendix
regions[appendix_after]  = Appendix After

; /*==========     FOOTER REGIONS      ==========*/

regions[footer_before] = Footer Before
regions[footer]        = Footer
regions[footer_after]  = Footer After

; /*=========================================
; =            $GENERAL SETTINGS            =
; =========================================*/

settings[html5]  = 0
settings[html5shim] = 1
settings[humans] = 1

; /*=================================================
; =            $STYLESHEET FOR EXCLUSION            =
; =================================================*/

; settings[seelva_exclude_css][] = modules/comment/comment.css


; /*============================================
; =            $BREADCRUMB SETTINGS            =
; ============================================*/

settings[breadcrumb_separator] = '»'
settings[breadcrumb_home]      = 1
settings[breadcrumb_trailing]  = 1
settings[breadcrumb_title]     = 1
